*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
div{background-image:linear-gradient(white,black);
    width:500px;
    height:500px;
position: relative;
}
p{position: absolute;
top:400px;
left:30px;
}
.div p:first-child{position: relative;}
img{opacity: 60%;
width:500px;
height:500px;
}