/* 
h4{
    color:beige;
    background-color: blue;
}
div{color:blue !important;
    background-color:aquamarine !important;
}
h1{color:blueviolet;
background-color: brown;
}

.first-h3{color:rgb(148, 45, 21);
background-color:rgb(43, 226, 113);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border: 100px outset pink;
margin: 1px;
padding: 300px;
background-image: url("./images/phuong-nhi-9357.jpg");
background-size: cover;
background-position: 10px 10px;
} */ */
.class{background-color: yellow;}