*{
    margin: 0;
    padding:0 2px;
    box-sizing: border-box;
}

.hcontent{background-color: rgb(216, 170, 17);
opacity: 60%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 400px;
height: 80px;
}
.hcontent{position: absolute;
top:220px;
left:10px;
padding:10px}

.main img{border-top: 5px solid orange;
    width:300px;height:200px}
.main{
    width:730px;
    display: flex;
    flex-wrap: wrap;
gap:50px;
padding:30px;
}
.tit{font-size: 25px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-top:15px}
.cont{font-size:18px;
padding-top: 10px;
inline-size:300px;
overflow-wrap: break-word;
}